@font-face {
    font-family: 'Eurostile';
    font-weight: normal;
    src: url('../fonts/eurostile.woff') format('woff');
}

@font-face {
    font-family: 'Eurostile';
    font-weight: bold;
    src: url('../fonts/eurostile-bold.woff') format('woff');
}

@font-face {
    font-family: 'SourceCodePro';
    font-weight: normal;
    src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

:root {
    --white: #eef4ff;
    --dark-teal: #0d1424;
    --teal: #649cf1;
    --light-teal: #262c3a;
    --lighter-teal: #7990b2;
}

body {
    background-color: var(--dark-teal);
    font-family: sans-serif;
    color: var(--white);
}

nav.site-nav {
    background-color: var(--light-teal);
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
    nav.site-nav > a {
        display: block;
        border-right: 2px solid var(--dark-teal);
        width: 100%;
        max-width: 286px;
        padding-right: 1em;
        text-align: right;
    }
        @media (max-width: 768px) {
            nav.site-nav > a {
                width: auto;
            }
        }
        
        nav.site-nav > a:hover {
            border-bottom: 0;
        }
        
        nav.site-nav > a img {
            max-height: 4rem;
        }
            nav.site-nav > a img.-mobile {
                display: none;
            }

        @media (max-width: 768px) {
            nav.site-nav > a img:not(.-mobile) {
                display: none;
            }
            
            nav.site-nav > a img.-mobile {
                display: block;
            }
        }
    
    nav.site-nav ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
    }
        nav.site-nav ul li {
            padding: 0 0 0 2em;
        }
            nav.site-nav ul li a {
                font-family: 'Eurostile';
                letter-spacing: 0.08em;
                text-transform: uppercase;
                padding: 0;
                color: var(--teal);
                font-weight: bold;
            }
                nav.site-nav ul li a:hover {
                    text-decoration: none;
                    border-bottom: 2px solid var(--white);
                }

                nav.site-nav ul li a.-active {
                    color: var(--white) !important;
                    pointer-events: none;
                }

/* Ugly hacks that make ReadTheDocs look more Deus Ex-y */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Eurostile';
    margin-top: 1em !important;
    margin-bottom: 0.5em !important;
}

a, a:visited, a:active, a:focus, a:hover, a:visited {
    color: var(--teal) !important;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: var(--white);
    font-family: 'Eurostile';
    font-size: 1rem;
    text-transform: none;
    border-bottom: 2px solid var(--white);
    padding: 0.2em 1.4em;
    height: auto;
    margin-bottom: 0.2em;
}

.rst-content a:focus, .rst-content a:hover {
    border-bottom: 2px solid var(--white);
}

a.icon-home:hover {
    border: 0;
}

.admonition {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.2) !important;
}
    .admonition .admonition-title {
        background-color: rgba(255, 255, 255, 0.2) !important;
    }
 
    .admonition.important {
        background-color: #4d0000 !important;
    }

.wy-body-for-nav {
    background-color: var(--dark-teal);
    color: var(--white);
}

.wy-grid-for-nav {
    background-color: transparent;
    position: relative;
    display: flex;
}

.wy-nav-content-wrap {
    background-color: transparent;
    margin: 0;
    top: auto !important;
    height: auto !important;
    max-width: calc(100% - 300px);
}
    @media screen and (max-width: 768px) {
        .wy-nav-content-wrap.shift {
            position: absolute;
        }
        
        .wy-nav-content-wrap {
            width: 100vw;
            max-width: 100%;
        }
    }

.wy-nav-side {
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 0;
    position: relative;
}
    @media screen and (min-width: 768px) {
        .wy-nav-side {
            flex-shrink: 0;
        }
    }

.wy-nav-top {
    background: none;
}

.wy-nav-content {
    max-width: 1200px;
    background-color: transparent;
    height: auto !important;
}

.wy-side-nav-search {
    background-color: transparent;
}

.rst-content code {
    font-size: inherit;
    font-family: 'SourceCodePro', monospace;
    background: none !important;
    color: var(--teal) !important;
    border: 0 !important;
    padding: 0 0.1em;
}

.rst-content pre code {
    font-family: 'SourceCodePro', monospace;
    font-size: inherit;
    line-height: 1;
    border: 0;
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: inherit !important;
}

.wy-menu-vertical li a:hover {
    color: var(--white) !important;
    background-color: var(--teal) !important;
}

.wy-menu-vertical li.current {
    background-color: rgba(255, 255, 255, 0.1);
}

.wy-menu-vertical li.current a {
    border: 0 !important;
}

.wy-menu-vertical li.current a:not(:hover) {
    background-color: transparent !important;
}

footer {
    display: none;
}

.rst-versions {
    display: none;
}

.wy-side-nav-search input[type="text"] {
    border: 2px solid var(--teal);
    border-radius: 0;
    background-color: var(--dark-teal);
    outline: 0;
    color: var(--white);
    font-size: inherit;
    box-shadow: none;
}

table td, table th {
    color: var(--white) !important;
    border: 0 !important;
    background-color: transparent !important;
    padding: 0 !important;
    line-height: 2em;
}

table td:not(:last-child) {
    padding-right: 2em !important;
}
